<header>
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href=""><img src="assets/logo.svg" /></a>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="">Sobre</a></li>
          <li><a href="">Serviços</a></li>
        </ul>
      </nav>
    </div>
    <div class="menu">
      <button class="button-nav one">Abrir minha conta</button>
      <button class="button-nav two">Já tenho conta</button>
    </div>
  </div>
</header>

<section>
  <div class="banner-section">
    <div class="container">
      <div class="banner-container">
        <div class="banner">
          <p class="banner-text">
            Experimente mais liberdade no controle da sua vida financeira. Crie
            sua conta com a gente!
          </p>
          <a href=""><img src="assets/ilustracao-banner.svg" /></a>
        </div>

        <div class="banner-content">
          <h1 class="banner-title">Vantagens do nosso banco:</h1>
        </div>

        <div class="advantages">
          <div class="advantage-item">
            <img src="assets/presente.svg" />
            <h2 class="advantage-title">Conta e cartão gratuitos</h2>
            <p class="advantage-subtitle">
              Isso mesmo, nossa conta é digital, sem custo fixo e mais que isso:
              sem tarifa de manutenção.
            </p>
          </div>
          <div class="advantage-item">
            <img src="assets/saque.svg" />
            <h2 class="advantage-title">Cartão de crédito</h2>
            <p class="advantage-subtitle">
              Você pode sacar gratuitamente 4x por mês de qualquer Banco 24h.
            </p>
          </div>
          <div class="advantage-item">
            <img src="assets/pontos.svg" />
            <h2 class="advantage-title">Programa de pontos</h2>
            <p class="advantage-subtitle">
              Você pode acumular pontos com suas compras no crédito sem pagar
              mensalidade!
            </p>
          </div>
          <div class="advantage-item">
            <img src="assets/dispositivos.svg" />
            <h2 class="advantage-title">Seguro Dispositivos</h2>
            <p class="advantage-subtitle">
              Seus dispositivos móveis (computador e laptop) protegidos por uma
              mensalidade simbólica.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="footer-content">
      <ul>
        <li class="footer-title"><a href="">Serviços</a></li>
        <li><a href="">Conta corrente</a></li>
        <li><a href="">Conta PJ</a></li>
        <li><a href="">Cartão de crédito</a></li>
      </ul>

      <ul>
        <li class="footer-title"><a href="">Contato</a></li>
        <li><a href="">0800 004 250 08</a></li>
        <li><a href="">meajuda&#64;bytebank.com.br</a></li>
        <li><a href="">ouvidoria&#64;bytebank.com.br</a></li>
      </ul>

      <div>
        <p class="footer-title">Desenvolvido por Alura</p>
        <a href=""><img src="assets/logo-bytebank.svg" /></a>
        <div class="social-media">
          <a href=""><img src="assets/instagram.svg" /></a>
          <a href=""><img src="assets/whatsapp.svg" /></a>
          <a href=""><img src="assets/youtube.svg" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
